body {
    font-family: 'Special Elite', cursive;
    background: #5dbda5;
}

img {
    height: 700px;
}

h2{
    font-family:'Times New Roman', Times, serif;
}
.header_div{
    background-color:cadetblue;
}